*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.div-left{
    
    display: inline-block;
    width: 60%;
    height: 100vh;

    
    
}

.div-right{
  display: inline-block;
    
    width: 40%;
    height: 100vh;
    position: absolute;
    background-color: rgba(93, 93, 125, 0.16);
 
    
}

h1{
    color: #5D5D7D;
font-size: 70px;
font-family: "Oswald";
font-weight: 400;
line-height: 80px;
word-wrap: break-word;
width: 368px;
position: relative;
top: 300px;
left: 90px;
}
p{
    color: #5D5D7D;
font-size: 28px;
font-family: "Oswald";
font-weight: 400;
line-height: 48px;
word-wrap: break-word;
width: 540px;
position: relative;
top: 490px;
left: 90px;
opacity: 0.6;
}
 button{
    color: white;
font-size: 24px;
font-family: "Oswald";
font-weight: 400;
word-wrap: break-word;
width: 269px; 
height: 62px; 
background: #9499EA; 
box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.10);
border-radius: 25px;
border: none;
margin-top: 660px;
margin-left: 90px;
cursor: pointer;


}
 img{
    position: relative;
    top: 250px;
    right: 141px;
 }
.button-header{
    color: #5D5D7D;
font-size: 28px;
font-family: Oswald;
font-weight: 400;
word-wrap: break-word;
margin-right: 41px ;
margin-left: 41PX;
}
.button-header1{
    color: #020202;
font-size: 28px;
font-family: Oswald;
font-weight: 400;
word-wrap: break-word;
margin-right: 41px ;
margin-left: 41PX;
opacity: 0.6;
}


